.App {
  text-align: center;
}

h1 {
  margin-bottom: 20px;
}

.pokemon-list {
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.pokemon-item {
  margin: 10px;
  text-align: center;
}

img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  margin-bottom: 10px;
}

button {
  margin-top: 5px;
}